In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Loading the datasets

apartment_attributes = pd.read_csv("apartment_attributes.csv")
apartments = pd.read_csv("apartments.csv")
bookings = pd.read_csv("bookings.csv")
user_viewings = pd.read_csv("user_viewing.csv")

In [6]:
# Step 4: Explore the Data
def explore_dataframe(df, name):
    print(f"Exploring {name} Dataset")

    # Display first 5 rows
    print("\n First 5 Rows:")
    print(df.head())

    # Display column names and data types
    print("\n Column Info:")
    print(df.info())

    # Display summary statistics
    print("\n Summary Statistics:")
    print(df.describe(include='all'))

    # Check for missing values
    print("\n Missing Values:")
    print(df.isnull().sum())

In [7]:
# Explore Each Dataset
explore_dataframe(apartment_attributes, "Apartment Attributes")

Exploring Apartment Attributes Dataset

 First 5 Rows:
   id   category                                               body  \
0   1       2BHK  Happy product model process necessary. Only fo...
1   2  Penthouse  Technology past much. Shoulder collection appr...
2   3       3BHK  Firm agreement shake design sort. Size source ...
3   4       1BHK  Next may hear camera. Heart dinner onto increa...
4   5       1BHK  Space necessary each statement sport early. Fi...

                       amenities  bathrooms  bedrooms     fee  has_photo  \
0      Balcony, Air Conditioning          1         1  168.84       True
1  Garden, Pet-friendly, Balcony          2         2  202.99      False
2                            Gym          2         1  488.93      False
3                         Garden          3         3  376.10       True
4                   Pet-friendly          2         2  465.79      False

  pets_allowed price_display price_type  square_feet  \
0        False      $1588.42    Monthly         1463
1         True      $3585.32     Yearly          722
2        False      $1961.69    Monthly         2208
3        False      $4845.75     Yearly          589
4         True      $2599.65   One-time         1590

                                             address     cityname       state  \
0           92525 Holt Turnpike Lake Keith, KY 50153     New York  California
1  89610 Chang Lane Apt. 295 New Ericaland, NC 28192       Austin       Texas
2                 134 Bryan Island Leefort, VT 48142      Chicago    Illinois
3    13660 Amanda Isle East Michaelchester, CT 62513  San Antonio       Texas
4              7915 Laurie Manor Port John, MN 73309  Los Angeles  California

    latitude   longitude
0  20.457092    0.466220
1  38.182993 -129.769256
2  61.585391  -92.597924
3 -59.015450    6.296552
4 -48.009442  -33.172952

 Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             200000 non-null  int64
 1   category       200000 non-null  object
 2   body           200000 non-null  object
 3   amenities      200000 non-null  object
 4   bathrooms      200000 non-null  int64
 5   bedrooms       200000 non-null  int64
 6   fee            200000 non-null  float64
 7   has_photo      200000 non-null  bool
 8   pets_allowed   70956 non-null   object
 9   price_display  200000 non-null  object
 10  price_type     200000 non-null  object
 11  square_feet    200000 non-null  int64
 12  address        200000 non-null  object
 13  cityname       200000 non-null  object
 14  state          200000 non-null  object
 15  latitude       200000 non-null  float64
 16  longitude      200000 non-null  float64
dtypes: bool(1), float64(3), int64(4), object(9)
memory usage: 24.6+ MB
None

 Summary Statistics:
                   id category  \
count   200000.000000   200000
unique            NaN        5
top               NaN     3BHK
freq              NaN    40231
mean    100000.500000      NaN
std      57735.171256      NaN
min          1.000000      NaN
25%      50000.750000      NaN
50%     100000.500000      NaN
75%     150000.250000      NaN
max     200000.000000      NaN

                                                     body amenities  \
count                                              200000    200000
unique                                             200000     17675
top     Season new go watch. Eight career human friend...   Parking
freq                                                    1      4618
mean                                                  NaN       NaN
std                                                   NaN       NaN
min                                                   NaN       NaN
25%                                                   NaN       NaN
50%                                                   NaN       NaN
75%                                                   NaN       NaN
max                                                   NaN       NaN

            bathrooms       bedrooms            fee has_photo pets_allowed  \
count   200000.000000  200000.000000  200000.000000    200000        70956
unique            NaN            NaN            NaN         2            2
top               NaN            NaN            NaN      True         True
freq              NaN            NaN            NaN    100150        66717
mean         2.000265       1.995455     274.833500       NaN          NaN
std          0.816779       0.817067     129.735256       NaN          NaN
min          1.000000       1.000000      50.000000       NaN          NaN
25%          1.000000       1.000000     162.817500       NaN          NaN
50%          2.000000       2.000000     274.570000       NaN          NaN
75%          3.000000       3.000000     387.490000       NaN          NaN
max          3.000000       3.000000     500.000000       NaN          NaN

       price_display price_type    square_feet  \
count         200000     200000  200000.000000
unique        157180          3            NaN
top         $1277.43   One-time            NaN
freq               6      67056            NaN
mean             NaN        NaN    1751.213140
std              NaN        NaN     721.830637
min              NaN        NaN     500.000000
25%              NaN        NaN    1128.000000
50%              NaN        NaN    1751.000000
75%              NaN        NaN    2377.000000
max              NaN        NaN    3000.000000

                                         address cityname   state  \
count                                     200000   200000  200000
unique                                    200000       10       6
top     94192 Andrew Glens Andreashire, WV 27355   Austin   Texas
freq                                           1    20098   80043
mean                                         NaN      NaN     NaN
std                                          NaN      NaN     NaN
min                                          NaN      NaN     NaN
25%                                          NaN      NaN     NaN
50%                                          NaN      NaN     NaN
75%                                          NaN      NaN     NaN
max                                          NaN      NaN     NaN

             latitude      longitude
count   200000.000000  200000.000000
unique            NaN            NaN
top               NaN            NaN
freq              NaN            NaN
mean         0.021438       0.123339
std         51.900634     103.959384
min        -89.998058    -179.993591
25%        -44.830422     -89.949422
50%         -0.005059       0.259784
75%         44.824442      90.317805
max         89.999795     179.997024

 Missing Values:
id                    0
category              0
body                  0
amenities             0
bathrooms             0
bedrooms              0
fee                   0
has_photo             0
pets_allowed     129044
price_display         0
price_type            0
square_feet           0
address               0
cityname              0
state                 0
latitude              0
longitude             0
dtype: int64

In [8]:
explore_dataframe(apartments, "Apartments")

Exploring Apartments Dataset

 First 5 Rows:
   id                        title      source    price currency  \
0   1  Johnson, Fowler and Johnson     Realtor  4020.95      EUR
1   2               Kelley-Johnson  Craigslist  1390.01      INR
2   3   Gibson, Delgado and Austin  Craigslist  3082.67      INR
3   4      Kelly, Smith and Gibson      Zillow  4724.20      USD
4   5                Carroll-Burch      Airbnb  3867.11      USD

  listing_created_on  is_active last_modified_timestamp
0         27/03/2024       True              27/12/2021
1         23/07/2023       True              10/02/2023
2         15/04/2024       True              02/01/2020
3         27/10/2020      False              23/06/2023
4         01/02/2021      False              25/07/2022

 Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       200000 non-null  int64
 1   title                    200000 non-null  object
 2   source                   200000 non-null  object
 3   price                    200000 non-null  float64
 4   currency                 200000 non-null  object
 5   listing_created_on       200000 non-null  object
 6   is_active                200000 non-null  bool
 7   last_modified_timestamp  200000 non-null  object
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 10.9+ MB
None

 Summary Statistics:
                   id      title      source          price currency  \
count   200000.000000     200000      200000  200000.000000   200000
unique            NaN     127040           5            NaN        3
top               NaN  Smith Inc  Craigslist            NaN      USD
freq              NaN        262       40200            NaN    66822
mean    100000.500000        NaN         NaN    2995.724602      NaN
std      57735.171256        NaN         NaN    1157.856883      NaN
min          1.000000        NaN         NaN    1000.010000      NaN
25%      50000.750000        NaN         NaN    1990.040000      NaN
50%     100000.500000        NaN         NaN    2994.050000      NaN
75%     150000.250000        NaN         NaN    4000.402500      NaN
max     200000.000000        NaN         NaN    4999.940000      NaN

       listing_created_on is_active last_modified_timestamp
count              200000    200000                  200000
unique               1910         2                    1910
top            24/01/2023      True              02/02/2025
freq                  139    100203                     142
mean                  NaN       NaN                     NaN
std                   NaN       NaN                     NaN
min                   NaN       NaN                     NaN
25%                   NaN       NaN                     NaN
50%                   NaN       NaN                     NaN
75%                   NaN       NaN                     NaN
max                   NaN       NaN                     NaN

 Missing Values:
id                         0
title                      0
source                     0
price                      0
currency                   0
listing_created_on         0
is_active                  0
last_modified_timestamp    0
dtype: int64

In [9]:
explore_dataframe(bookings, "Bookings")

Exploring Bookings Dataset

 First 5 Rows:
   booking_id  user_id  apartment_id booking_date checkin_date checkout_date  \
0           1     2920        130940   11/11/2022   07/09/2024    30/06/2023
1           2     2788        191497   17/05/2024   07/07/2024    06/09/2021
2           3     9285        139117   26/11/2022   12/02/2025    07/04/2023
3           4     8161        118131   09/07/2020   25/10/2024    08/02/2021
4           5     6733         43470   08/05/2024   31/01/2022    29/10/2024

   total_price currency booking_status
0      2923.67      EUR      confirmed
1      4645.29      EUR        pending
2      1683.99      INR       canceled
3      1870.62      USD      confirmed
4      3379.44      INR        pending

 Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   booking_id      500000 non-null  int64
 1   user_id         500000 non-null  int64
 2   apartment_id    500000 non-null  int64
 3   booking_date    500000 non-null  object
 4   checkin_date    500000 non-null  object
 5   checkout_date   500000 non-null  object
 6   total_price     500000 non-null  float64
 7   currency        500000 non-null  object
 8   booking_status  500000 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 34.3+ MB
None

 Summary Statistics:
           booking_id        user_id   apartment_id booking_date checkin_date  \
count   500000.000000  500000.000000  500000.000000       500000       500000
unique            NaN            NaN            NaN         1910         1910
top               NaN            NaN            NaN   01/04/2020   05/04/2020
freq              NaN            NaN            NaN          313          313
mean    250000.500000    5004.142978   99943.006396          NaN          NaN
std     144337.711634    2884.203513   57783.129400          NaN          NaN
min          1.000000       1.000000       1.000000          NaN          NaN
25%     125000.750000    2509.000000   49978.750000          NaN          NaN
50%     250000.500000    5004.000000   99940.000000          NaN          NaN
75%     375000.250000    7501.000000  149959.000000          NaN          NaN
max     500000.000000   10000.000000  200000.000000          NaN          NaN

       checkout_date    total_price currency booking_status
count         500000  500000.000000   500000         500000
unique          1910            NaN        3              3
top       08/12/2023            NaN      EUR        pending
freq             324            NaN   166802         166756
mean             NaN    3002.170216      NaN            NaN
std              NaN    1154.668210      NaN            NaN
min              NaN    1000.040000      NaN            NaN
25%              NaN    2002.510000      NaN            NaN
50%              NaN    3001.145000      NaN            NaN
75%              NaN    4001.410000      NaN            NaN
max              NaN    5000.000000      NaN            NaN

 Missing Values:
booking_id        0
user_id           0
apartment_id      0
booking_date      0
checkin_date      0
checkout_date     0
total_price       0
currency          0
booking_status    0
dtype: int64

In [10]:
explore_dataframe(user_viewings, "User Viewings")

Exploring User Viewings Dataset

 First 5 Rows:
   user_id  apartment_id   viewed_at  is_wishlisted call_to_action
0     5353        180678  23/01/2023          False       Reported
1     8341         12140  14/05/2021           True       Reported
2     5517         72896  27/06/2023           True  Contact Agent
3     1710         19727  15/10/2022           True    Shortlisted
4      896         44550  06/02/2020          False       Reported

 Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         300000 non-null  int64
 1   apartment_id    300000 non-null  int64
 2   viewed_at       300000 non-null  object
 3   is_wishlisted   300000 non-null  bool
 4   call_to_action  300000 non-null  object
dtypes: bool(1), int64(2), object(2)
memory usage: 9.4+ MB
None

 Summary Statistics:
              user_id   apartment_id   viewed_at is_wishlisted call_to_action
count   300000.000000  300000.000000      300000        300000         300000
unique            NaN            NaN        1910             2              3
top               NaN            NaN  28/08/2023          True  Contact Agent
freq              NaN            NaN         200        150067         149972
mean      4997.130800   99940.427267         NaN           NaN            NaN
std       2888.274927   57721.111930         NaN           NaN            NaN
min          1.000000       1.000000         NaN           NaN            NaN
25%       2493.000000   49878.750000         NaN           NaN            NaN
50%       4986.000000   99804.000000         NaN           NaN            NaN
75%       7502.000000  149973.000000         NaN           NaN            NaN
max      10000.000000  200000.000000         NaN           NaN            NaN

 Missing Values:
user_id           0
apartment_id      0
viewed_at         0
is_wishlisted     0
call_to_action    0
dtype: int64

In [11]:
# check apartment_attributes

apartment_attributes.head()

,id,category,body,amenities,bathrooms,bedrooms,fee,has_photo,pets_allowed,price_display,price_type,square_feet,address,cityname,state,latitude,longitude
0,1,2BHK,Happy product model process necessary. Only fo...,"Balcony, Air Conditioning",1,1,168.84,True,False,$1588.42,Monthly,1463,"92525 Holt Turnpike Lake Keith, KY 50153",New York,California,20.457092,0.466220
1,2,Penthouse,Technology past much. Shoulder collection appr...,"Garden, Pet-friendly, Balcony",2,2,202.99,False,True,$3585.32,Yearly,722,"89610 Chang Lane Apt. 295 New Ericaland, NC 28192",Austin,Texas,38.182993,-129.769256
2,3,3BHK,Firm agreement shake design sort. Size source ...,Gym,2,1,488.93,False,False,$1961.69,Monthly,2208,"134 Bryan Island Leefort, VT 48142",Chicago,Illinois,61.585391,-92.597924
3,4,1BHK,Next may hear camera. Heart dinner onto increa...,Garden,3,3,376.10,True,False,$4845.75,Yearly,589,"13660 Amanda Isle East Michaelchester, CT 62513",San Antonio,Texas,-59.015450,6.296552
4,5,1BHK,Space necessary each statement sport early. Fi...,Pet-friendly,2,2,465.79,False,True,$2599.65,One-time,1590,"7915 Laurie Manor Port John, MN 73309",Los Angeles,California,-48.009442,-33.172952

In [12]:
# Display columns with missing values
missing_values = apartment_attributes.isnull().sum()
print(missing_values[missing_values > 0])

pets_allowed    129044
dtype: int64

In [ ]:
# Replace all NAN columns in pets_allowed column in apartment_attributes to "False"

apartment_attributes['pets_allowed'] = apartment_attributes['pets_allowed'].fillna('False')

# Replace missing values in 'pets_allowed' with False
# apartment_attributes['pets_allowed'].fillna(False, inplace=True)
# apartment_attributes = apartment_attributes.assign(pets_allowed=apartment_attributes['pets_allowed'].fillna(False))

# # Ensure the column remains boolean
# apartment_attributes['pets_allowed'] = apartment_attributes['pets_allowed'].astype(bool)

# Display the first few rows to verify
# apartment_attributes.head()

<ipython-input-10-6c3c6087b383>:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  apartment_attributes = apartment_attributes.assign(pets_allowed=apartment_attributes['pets_allowed'].fillna(False))

In [ ]:
apartment_attributes.tail()

,id,category,body,amenities,bathrooms,bedrooms,fee,has_photo,pets_allowed,price_display,price_type,square_feet,address,cityname,state,latitude,longitude
199995,199996,2BHK,These improve history organization finish. Des...,"Gym, Balcony, Elevator, Wi-Fi",2,3,436.24,True,False,$3879.41,One-time,1256,99306 Dyer Turnpike Suite 742 West Christopher...,Austin,Texas,-22.542250,20.266669
199996,199997,1BHK,Even already politics husband dream poor. Sign...,Garden,2,3,396.79,True,False,$4484.87,Yearly,2012,"333 Jessica Hills Apt. 481 South Karen, IA 25767",Austin,Texas,9.877821,165.754309
199997,199998,Studio,Try somebody allow keep unit really. So small ...,"Pet-friendly, Balcony, Wi-Fi, Parking",3,2,158.71,False,True,$1680.65,One-time,1002,"0261 Carol Mill Thorntonburgh, SD 30342",Chicago,Arizona,-25.367489,19.158811
199998,199999,3BHK,Card score information among hear seat town al...,Elevator,1,1,114.27,True,False,$4897.2,Yearly,983,"5386 Graham Crossing Michaelton, NV 57680",Chicago,New York,-51.178365,35.039715
199999,200000,3BHK,Rock top around sister. Card down modern natio...,"Gym, Wi-Fi",3,3,392.14,True,False,$1645.04,One-time,2294,"954 Thompson Meadows Lake Susanville, VT 27394",Chicago,Illinois,-77.704117,159.185924

In [ ]:
apartment_attributes.describe(include='all')

,id,category,body,amenities,bathrooms,bedrooms,fee,has_photo,pets_allowed,price_display,price_type,square_feet,address,cityname,state,latitude,longitude
count,200000.000000,200000,200000,200000,200000.000000,200000.000000,200000.000000,200000,200000,200000,200000,200000.000000,200000,200000,200000,200000.000000,200000.000000
unique,NaN,5,200000,17675,NaN,NaN,NaN,2,2,157180,3,NaN,200000,10,6,NaN,NaN
top,NaN,3BHK,Season new go watch. Eight career human friend...,Parking,NaN,NaN,NaN,True,False,$1277.43,One-time,NaN,"94192 Andrew Glens Andreashire, WV 27355",Austin,Texas,NaN,NaN
freq,NaN,40231,1,4618,NaN,NaN,NaN,100150,133283,6,67056,NaN,1,20098,80043,NaN,NaN
mean,100000.500000,NaN,NaN,NaN,2.000265,1.995455,274.833500,NaN,NaN,NaN,NaN,1751.213140,NaN,NaN,NaN,0.021438,0.123339
std,57735.171256,NaN,NaN,NaN,0.816779,0.817067,129.735256,NaN,NaN,NaN,NaN,721.830637,NaN,NaN,NaN,51.900634,103.959384
min,1.000000,NaN,NaN,NaN,1.000000,1.000000,50.000000,NaN,NaN,NaN,NaN,500.000000,NaN,NaN,NaN,-89.998058,-179.993591
25%,50000.750000,NaN,NaN,NaN,1.000000,1.000000,162.817500,NaN,NaN,NaN,NaN,1128.000000,NaN,NaN,NaN,-44.830422,-89.949422
50%,100000.500000,NaN,NaN,NaN,2.000000,2.000000,274.570000,NaN,NaN,NaN,NaN,1751.000000,NaN,NaN,NaN,-0.005059,0.259784
75%,150000.250000,NaN,NaN,NaN,3.000000,3.000000,387.490000,NaN,NaN,NaN,NaN,2377.000000,NaN,NaN,NaN,44.824442,90.317805
max,200000.000000,NaN,NaN,NaN,3.000000,3.000000,500.000000,NaN,NaN,NaN,NaN,3000.000000,NaN,NaN,NaN,89.999795,179.997024

In [ ]:
apartment_attributes.isnull().sum()

id               0
category         0
body             0
amenities        0
bathrooms        0
bedrooms         0
fee              0
has_photo        0
pets_allowed     0
price_display    0
price_type       0
square_feet      0
address          0
cityname         0
state            0
latitude         0
longitude        0
dtype: int64

In [ ]:
apartment_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             200000 non-null  int64
 1   category       200000 non-null  object
 2   body           200000 non-null  object
 3   amenities      200000 non-null  object
 4   bathrooms      200000 non-null  int64
 5   bedrooms       200000 non-null  int64
 6   fee            200000 non-null  float64
 7   has_photo      200000 non-null  bool
 8   pets_allowed   200000 non-null  bool
 9   price_display  200000 non-null  object
 10  price_type     200000 non-null  object
 11  square_feet    200000 non-null  int64
 12  address        200000 non-null  object
 13  cityname       200000 non-null  object
 14  state          200000 non-null  object
 15  latitude       200000 non-null  float64
 16  longitude      200000 non-null  float64
dtypes: bool(2), float64(3), int64(4), object(8)
memory usage: 23.3+ MB

In [13]:
# write apartment_attributes to a csv

apartment_attributes.to_csv('apartment_attributes_cleaned.csv', index=False)

In [14]:
# Convert both date columns to datetime format
for col in ['listing_created_on', 'last_modified_timestamp']:
    apartments[col] = pd.to_datetime(apartments[col], format='%d/%m/%Y', dayfirst=True, errors='coerce')
    apartments[col] = apartments[col].dt.strftime('%Y-%m-%d')  # Convert back to string in 'YYYY-MM-DD' format

# Check if there are any NaT (conversion issues)
print(apartments[['listing_created_on', 'last_modified_timestamp']].isna().sum(), "values could not be parsed.")
apartments

listing_created_on         0
last_modified_timestamp    0
dtype: int64 values could not be parsed.

,id,title,source,price,currency,listing_created_on,is_active,last_modified_timestamp
0,1,"Johnson, Fowler and Johnson",Realtor,4020.95,EUR,2024-03-27,True,2021-12-27
1,2,Kelley-Johnson,Craigslist,1390.01,INR,2023-07-23,True,2023-02-10
2,3,"Gibson, Delgado and Austin",Craigslist,3082.67,INR,2024-04-15,True,2020-01-02
3,4,"Kelly, Smith and Gibson",Zillow,4724.20,USD,2020-10-27,False,2023-06-23
4,5,Carroll-Burch,Airbnb,3867.11,USD,2021-02-01,False,2022-07-25
...,...,...,...,...,...,...,...,...
199995,199996,Travis Group,Craigslist,3941.00,INR,2021-12-08,False,2021-01-20
199996,199997,"Cox, James and Andrews",Craigslist,2410.36,USD,2023-06-06,True,2021-01-20
199997,199998,"Brown, Cunningham and Myers",Airbnb,4849.38,USD,2020-12-21,True,2022-11-26
199998,199999,Smith Group,Realtor,3606.85,USD,2022-09-08,False,2022-09-07
199999,200000,Smith-Matthews,Apartments.com,2183.74,INR,2022-11-07,False,2021-06-02

In [15]:
# Find and print problematic rows (where conversion failed)
invalid_dates = apartments[apartments.isna().any(axis=1)]
print("\n Rows with unparsed dates:\n", invalid_dates)

 Rows with unparsed dates:
 Empty DataFrame
Columns: [id, title, source, price, currency, listing_created_on, is_active, last_modified_timestamp]
Index: []

In [ ]:
apartments.to_csv('apartments_cleaned.csv', index=False)

In [16]:
# Convert all date columns, handling inconsistent formats
for col in ['booking_date', 'checkin_date', 'checkout_date']:
    bookings[col] = pd.to_datetime(bookings[col], dayfirst=True, errors='coerce')

# Convert back to string in 'YYYY-MM-DD' format
bookings[['booking_date', 'checkin_date', 'checkout_date']] = bookings[['booking_date', 'checkin_date', 'checkout_date']].astype(str)

# Check for unparsed dates
print(bookings[['booking_date', 'checkin_date', 'checkout_date']].isna().sum(), "values could not be parsed.")

# Display first few rows
print(bookings[['booking_date', 'checkin_date', 'checkout_date']].head(10))

booking_date     0
checkin_date     0
checkout_date    0
dtype: int64 values could not be parsed.
  booking_date checkin_date checkout_date
0   2022-11-11   2024-09-07    2023-06-30
1   2024-05-17   2024-07-07    2021-09-06
2   2022-11-26   2025-02-12    2023-04-07
3   2020-07-09   2024-10-25    2021-02-08
4   2024-05-08   2022-01-31    2024-10-29
5   2021-06-08   2020-08-29    2024-11-12
6   2022-09-08   2024-03-19    2025-02-27
7   2025-01-24   2021-11-17    2021-08-03
8   2021-10-10   2023-07-10    2020-12-18
9   2024-03-27   2023-07-01    2021-09-27

In [17]:
bookings

,booking_id,user_id,apartment_id,booking_date,checkin_date,checkout_date,total_price,currency,booking_status
0,1,2920,130940,2022-11-11,2024-09-07,2023-06-30,2923.67,EUR,confirmed
1,2,2788,191497,2024-05-17,2024-07-07,2021-09-06,4645.29,EUR,pending
2,3,9285,139117,2022-11-26,2025-02-12,2023-04-07,1683.99,INR,canceled
3,4,8161,118131,2020-07-09,2024-10-25,2021-02-08,1870.62,USD,confirmed
4,5,6733,43470,2024-05-08,2022-01-31,2024-10-29,3379.44,INR,pending
...,...,...,...,...,...,...,...,...,...
499995,499996,1678,7908,2023-05-11,2023-05-27,2023-12-17,2072.94,EUR,confirmed
499996,499997,1469,86380,2024-07-08,2022-04-15,2023-03-02,1883.51,USD,canceled
499997,499998,9954,108539,2023-09-11,2023-04-19,2023-11-04,3944.99,INR,confirmed
499998,499999,1491,154997,2022-12-31,2021-02-27,2020-04-12,2299.31,USD,pending
499999,500000,9924,20154,2023-07-31,2024-02-06,2021-01-23,3981.03,USD,pending

In [ ]:
bookings.to_csv('bookings_cleaned.csv', index=False)

In [18]:
# Convert all date columns, handling inconsistent formats
# for col in ['booking_date', 'checkin_date', 'checkout_date']:
user_viewings['viewed_at'] = pd.to_datetime(user_viewings['viewed_at'], dayfirst=True, errors='coerce')

# Convert back to string in 'YYYY-MM-DD' format
user_viewings['viewed_at'] = user_viewings['viewed_at'].astype(str)

# Check for unparsed dates
print(user_viewings['viewed_at'].isna().sum(), "values could not be parsed.")

# Display first few rows
user_viewings.head(10)

0 values could not be parsed.

   user_id  apartment_id   viewed_at  is_wishlisted call_to_action
0     5353        180678  2023-01-23          False       Reported
1     8341         12140  2021-05-14           True       Reported
2     5517         72896  2023-06-27           True  Contact Agent
3     1710         19727  2022-10-15           True    Shortlisted
4      896         44550  2020-02-06          False       Reported
5     7210        157092  2023-07-03           True       Reported
6     2063        135236  2021-01-17          False    Shortlisted
7     5993         35189  2024-12-23          False  Contact Agent
8     2681         79428  2022-02-10           True       Reported
9     5970        150952  2020-08-10          False  Contact Agent

In [19]:
user_viewings.to_csv('user_viewing_cleaned.csv', index=False)

## Glue Job Code

In [20]:
!pip install pymysql boto3 pandas

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Collecting boto3
  Downloading boto3-1.37.21-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Collecting botocore<1.38.0,>=1.37.21 (from boto3)
  Downloading botocore-1.37.21-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3)
  Downloading jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.12.0,>=0.11.0 (from boto3)
  Downloading s3transfer-0.11.4-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /usr/local/lib/python3.11/dist-packages (from botocore<1.38.0,>=1.37.21->boto3) (2.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
    45.0/45.0 kB 1.7 MB/s eta 0:00:00
Downloading boto3-1.37.21-py3-none-any.whl (139 kB)
    139.6/139.6 kB 5.3 MB/s eta 0:00:00
Downloading botocore-1.37.21-py3-none-any.whl (13.4 MB)
    13.4/13.4 MB 92.2 MB/s eta 0:00:00
Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Downloading s3transfer-0.11.4-py3-none-any.whl (84 kB)
    84.4/84.4 kB 8.1 MB/s eta 0:00:00
Installing collected packages: pymysql, jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.37.21 botocore-1.37.21 jmespath-1.0.1 pymysql-1.1.1 s3transfer-0.11.4

In [21]:
!apt-get install libmysqlclient-dev

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
libmysqlclient-dev is already the newest version (8.0.41-0ubuntu0.22.04.1).
libmysqlclient-dev set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 29 not upgraded.

In [22]:
!pip install --upgrade awscli botocore
!aws configure

Collecting awscli
  Downloading awscli-1.38.21-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: botocore in /usr/local/lib/python3.11/dist-packages (1.37.21)
Collecting docutils<0.17,>=0.10 (from awscli)
  Downloading docutils-0.16-py2.py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: s3transfer<0.12.0,>=0.11.0 in /usr/local/lib/python3.11/dist-packages (from awscli) (0.11.4)
Requirement already satisfied: PyYAML<6.1,>=3.10 in /usr/local/lib/python3.11/dist-packages (from awscli) (6.0.2)
Collecting colorama<0.4.7,>=0.2.5 (from awscli)
  Downloading colorama-0.4.6-py2.py3-none-any.whl.metadata (17 kB)
Collecting rsa<4.8,>=3.1.2 (from awscli)
  Downloading rsa-4.7.2-py3-none-any.whl.metadata (3.6 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from botocore) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.11/dist-packages (from botocore) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /usr/local/lib/python3.11/dist-packages (from botocore) (2.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore) (1.17.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.11/dist-packages (from rsa<4.8,>=3.1.2->awscli) (0.6.1)
Downloading awscli-1.38.21-py3-none-any.whl (4.7 MB)
    4.7/4.7 MB 31.7 MB/s eta 0:00:00
Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Downloading docutils-0.16-py2.py3-none-any.whl (548 kB)
    548.2/548.2 kB 16.3 MB/s eta 0:00:00
Downloading rsa-4.7.2-py3-none-any.whl (34 kB)
Installing collected packages: rsa, docutils, colorama, awscli
  Attempting uninstall: rsa
    Found existing installation: rsa 4.9
    Uninstalling rsa-4.9:
      Successfully uninstalled rsa-4.9
  Attempting uninstall: docutils
    Found existing installation: docutils 0.21.2
    Uninstalling docutils-0.21.2:
      Successfully uninstalled docutils-0.21.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
sphinx 8.2.3 requires docutils<0.22,>=0.20, but you have docutils 0.16 which is incompatible.
Successfully installed awscli-1.38.21 colorama-0.4.6 docutils-0.16 rsa-4.7.2
AWS Access Key ID [None]: AKIATQZCSUW4BPD6HLSO
AWS Secret Access Key [None]: 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
Default region name [None]: eu-west-1
Default output format [None]:

### Extracting Data from Redshift and Storing in S3

Testing locally

In [23]:
import pymysql
import pandas as pd
import boto3
import os
from google.colab import userdata
from io import StringIO

In [24]:
# Retrieve AWS credentials
AWS_ACCESS_KEY = userdata.get('AWS_ACCESS_KEY_ID')
AWS_SECRET_KEY = userdata.get('AWS_SECRET_ACCESS_KEY')

# Set as environment variables for Boto3
os.environ["AWS_ACCESS_KEY_ID"] = AWS_ACCESS_KEY
os.environ["AWS_SECRET_ACCESS_KEY"] = AWS_SECRET_KEY

In [25]:
# Retrieve RDS credentials
RDS_HOST = userdata.get("RDS_HOST")
RDS_USER = userdata.get("RDS_USER")
RDS_PASSWORD = userdata.get("RDS_PASSWORD")
RDS_DB = "rental_marketplace"
S3_BUCKET = "rental-marketplace"

In [26]:
# Connect to RDS
conn = pymysql.connect(
    host=RDS_HOST, user=RDS_USER, password=RDS_PASSWORD, database=RDS_DB
)

# Fetch Data Function
def fetch_and_upload(table_name):
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql(query, conn)

    # Convert to CSV and upload to S3
    csv_buffer = StringIO()
    df.to_csv(csv_buffer, index=False)
    s3_client = boto3.client("s3")
    s3_client.put_object(
        Bucket=S3_BUCKET,
        Key=f"raw-data/{table_name}.csv",
        Body=csv_buffer.getvalue(),
    )
    print(f"{table_name} uploaded to S3")

# Extract all tables
tables = ["apartment_attributes", "apartments", "bookings", "user_viewing"]
for table in tables:
    fetch_and_upload(table)

# Close connection
conn.close()

<ipython-input-26-66cafceab2e8>:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

apartment_attributes uploaded to S3
apartments uploaded to S3
bookings uploaded to S3
user_viewing uploaded to S3